.uploader{
    background-color: transparent !important;
    color: aqua;
    display:flex;
    align-items: center;
    justify-content: end !important;
}
.rank {
    display: flex;
    align-items: right;
    justify-content: end !important;
}
.rank-item {
    font: bold;
    font-weight: bold;
    color: aqua;
}
.rank-item:hover {
    cursor: pointer;
}
.rank-item:active {
    cursor: pointer;
}
.list-group{
    background-color: rgb(169, 60, 181);
    display:flex;
    align-items: center;
    justify-content: center;
}
.text-success{
    color:white !important;
    font-size: small !important; ;
}
.my-hr {
    width:100%;
    background-color:gold;
}